*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #dbdcd3;
    font-family: Arial, sans-serif;
    
}

body{
    width: 70%; 
    background-color: #1a7f73;
    margin: 0 auto;

}

h1,h2,h3,h4,h5,h6{      /* OR Grouping Selector (,)*/
    color: aqua;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    
}

p{
    color: rgb(158, 159, 159);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
  
  

#logo{
    width: 200px;
    height:200px;
    padding: 10px;
    position: absolute;
    left: 150px;
    background-image:url('imgs/6.jpg') ;

}

button{
    width: 100px;
    height: 35px;
    margin: 10px;
    background-color: #d3e465;
    border-radius: 10px;
    border-color: #206960;
    color: #206960;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    padding: 10px;
}

textarea{
    width: 100%;
    height: 250px;
    background-color: #c5c1c1;
    background-image: url('imgs/5.gif');
    margin-top: 20px;
    font-size: 20px;
    color: #dbdcd3;
    
}


.test{
    width: 70%; 
    background-color: #1a7f73;
    margin: 0 auto;
}

.testa, .testb,.testc{
    width: 400px;
    padding: 30px;
    font-size: 25px;
    margin: 10px;
    margin: 0 auto;
}

.testa{
    background-color: aqua;
    color: #f10606;
    z-index: 1;

}

.testb{
   background-color: aquamarine; 
   color: #d1bc1b;
   position: relative;
   left: 50px;
   bottom: 20px;
   /* default */
   z-index: 0; 

}

.testc{
    background-color: #449fa2;
    color: #b131a8;  
}


td{
    width: 100px;
    height: 100px;
    background-color: #36c7dd;
    text-align: center;
    font-size: 30px;
    color: rgb(248, 249, 247);
}

#ultest{
    margin: 15px 15px;
}


#ultest li{
    width: 100px;
    padding: 5px;
    list-style-type: none; 
    background-color: #f7f7f7;
    display: inline ;
    border-radius: 3px;
    text-decoration: none;
}

#ultest .highlight{
    background-color: #dbf705;
    color: #f7f7f7;

}

a {
    text-decoration: none; /* Remove underline from links */
    color: #f4f5f8; /* Set link color */
}

a:hover{
    color: #f10606;

}

a:link{
    color: #d68e8e;

}

a:visited{
    color: #f9f6f8;
}

a:active {
    color: #0000FF;
  }

label{
    color: #0b214c;
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
}

#state{
    width: 100px;
    background-color: #d9ea19;
    color: #0b214c;
}


option{
    background-color: #f10606;
}

.tempa,.tempb,.tempc{
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 30px;
    color: #0b214c;
    border-radius: 8%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.testd, .teste,.testf,.testg{
    width: 100px; /* Adjust width as needed */
    background-color: #36c7dd;
    padding: 30px;
    font-size: 25px;
    margin: 20px 10px 20px 5px; /*top right bottom left*/
    display:inline-block;
}

input{
    width: 200px;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border-color: #36c7dd;
    color: #206960;
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    display: block;
}

form{
    width: 250px;
    background-color: #36c7dd;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

#block{
    background-color: #f7f7f7;
    text-align: left;
    font-size: 30px;
    color: #0b214c;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}


 


 #box {
    width: 100%;
    display: flex;
    flex-direction:row;
 }

.a{
    width: 30%;
    height: 150px;
    background-color: #b6f4ee;
    border-radius: 3%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    

}
.b{
    width: 90%;
    height: 78px;
    background-color: #dbf6f0;
    border-radius: 3%;
    margin: 3px;
    padding: 10px;
    
}

.b, h3{
    text-align: center;
}

.c{
    width: 90%;
    height: 30px;
    border-radius: 3%;
    margin: 3px;
    padding: 10px;
    display: flex;
    flex-direction:row;
 }

 .d, .e{
    width: 48%;
    height: 30px;
    background-color: #1eabc1;
    text-align: center;
    display: flex;
    flex-direction:row;
    margin-left: 5px;
  

 }

.d, .e, .f{
    width: 48%;
    height: 30px;
 
    font-size: 20px;
    color: #fafafa;
    padding-top: 3px;
}


.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: rgb(70, 168, 248);
    color: #cbfcf7;
  }
  
  .footer {
    background: rgb(70, 168, 248);
    color: #cbfcf7;
  }
  
  .main {
    text-align: left;
    background: rgb(164, 227, 248);
    color: #cbfcf7;
  }
  
  .aside-1 {
    background: rgb(222, 209, 131);
    color: #f6faf9;
  }
  
  .aside-2 {
    background: rgb(176, 209, 124);
    color: #f5f9f9;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }
  
/* nav*/
  .nav{
    background-color:#003262;
    padding:20px;
    width: 85px;
    /* flexbox */
    display: flex;
    flex-direction: column;
    animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #9e1084;
  }
}

.nav--button{
  padding:10px;
  text-align:center;
  font-size:14px;
  color:#fff;

  
}
.nav--button img{
width: 56%;
height: 56%;
margin-bottom:5px;
filter:invert(100%);
}


/* main */
.main{
  display:-webkit-box;
  display:flex;
  width:100%;
}
.dashboard{
  width:100%
  

}

.dashboard--title{
  padding:0 24px 20px 0;
  margin:0 24px 30px 0;
  border-bottom:1px solid rgba(0,0,0,0.25);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard--classes{
  /*  [Problem 5]
      FIXME: Use flexbox to make the classes tabs wrap in a 3x2 setup.
      Use flexbox to create equal spacing between each box. */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


}
.dashboard--title img{
  width:20px;
}
.dashboard--classes__box{
  border-radius:5px;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
  -webkit-transition:all 0.1s;
  transition:all 0.1s;
  width:31%;
  margin-bottom: 35px;
}

.dashboard--classes__box__image{
  height:146px;
  background-color:#1770ab;
}
.dashboard--classes__box__description{
  padding:15px 22.5px;
}
.dashboard--classes__box__controls__buttons{
  margin-top:9px;
  display:-webkit-box;
  display:flex;
  -webkit-box-pack:justify;
  justify-content:space-between;
}
.dashboard--classes__box__controls__buttons img{
  height:23.5px;
  -webkit-filter:invert(40%);
  filter:invert(40%);
}
.dashboard--classes__box__controls__buttons img:hover{
  cursor:pointer;
}

.element {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  display: inline-flex;
  padding: 50px;
 
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(.5);
    background-color: yellow;
    border-radius: 100%;
  }
}

@keyframes bounce {
  from {
    /* starting position */
    transform: translateY(-200px);
  }
  to {
    /* ending position */
    transform: translateY(30px);
  }
}


#pumpkin {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  z-index: 1;
  transform: translateY(-200px);
  /* TODO: Use animation property with 0.5s duration,
     ease-in timing function, no delay, repeats 
     infinitely, and alternates. */
  animation: bounce 0.8s ease-in 0s infinite alternate;
  filter: invert(100%);
  opacity: 0.5;

}

@keyframes shadowSize {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

#shadow {
  height: 50px;
  width: 160px;
  background: black;
  opacity: 0.2;
  border-radius: 100%;
  /* TODO: Use animation with same properties as pumpkin. */
  animation: shadowSize 0.8s ease-in 0s infinite alternate;
 
}

#pumpkin, #shadow {
  position: relative;
  margin: 0 auto;
  top: 50%;
}
