html,body {
  margin: 0;
  padding: 0;
  background: #221d0a;
}

.wrapper{
  width:100%;
  max-width: 1440px;
  margin: 0 auto;
}



p,h2{
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2{
  font-size: 55px;
  font-weight: 300;
}

p{
  font-size: 35px;
  font-weight: 200;
}

/* Animation part */



  .box1 {
    top: 20%;
  }
  .box2 {
    top: 30%;
  }
  .box3 {
    top: 40%;
  }
  
  .box1, .box2, .box3 {
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: left;
    animation: revelar 2s forwards linear;
  }
  
  .box1 .box2 .box3, h1 {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
    color: #f8f8f6;
    text-transform: uppercase;
  }

  @keyframes revelar {
    0% {
      width: 0;
      height: 0;
    }
    30% {
      width: 500px;
      height: 0;
    }
    60% {
      width: 500px;
      height: 80px;
    }
    80% {
      width: 500px;
      height: 80px;
      
    }
    100% {
      width: 500px;
      height: 80px;
     
    }
  }

 /*
 * images gallery part
 */
  .slider {
    display: grid;
    place-items: center;
    height: 580px;
    padding: 500px 0 0;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1072px;
  }

  .img-card {
    position: relative;
    left: 0;
    width: 120px;
    border-radius: 0.8em;
    height: 580px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    transition: 0.3s ease-in-out;
    flex: 0.25;
    background:#221d0a;
    filter: grayscale(100%);
    opacity: .7;
  }

  .img-card img {
    min-height: 580px;
  }

  .img-card:hover {
    flex: 2.5;
    cursor: pointer;
    filter: grayscale(20%);
    opacity: 1;
  }

/**
 * Js script interactve part
 */

.hidden {
  display: none;
}
#lightbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.lightbox {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.lightbox img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.lightbox .caption {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 20px 10px;
  background: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  
}


.intro{
  width: 100%;
  max-width:1072px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me p{
  width: 100%;
  text-align: center;
}



/*footer part */

footer{
  height: 100%;
   max-width: 1440px;
   padding-bottom: 128px;
}


.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.social_medialogo{
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;
}
.social_medialogo img{
    width: 30px;
    height: 30px;
    margin: 20px 10px 0 10px;
    filter: invert(100%);
}

.copyright{
    display: flex;
    justify-content: left;
    align-items: left;
}

.copyright p{
   font-size: 20px;
    margin: 0 10px 0 10px;
}

.email p{
  font-size: 35px;
  font-weight: 300;
  }