* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* header */
.main-header {
    width: 100%;
    background: #000f04;
    position: fixed; 
    top:0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    padding-left: 50px; 
  
}

.main-nav {
    position: fixed;
    top:0px;
    right: 30px;
    vertical-align: middle;
    padding: 30px 30px 30px 0px;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.main-nav__item {
    display: inline-block;
    margin: 0 30px;
}

.main-nav__item a {
    text-decoration: none;
    color: #f7f9f8;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta a {
    color: white;
    background: #e75feb;
    padding: 8px 16px;
    border-radius: 6px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #e75feb;
    background: white;
    border: none;
}




.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}
