html {
    font-family: Karla, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
   
}

body {
    margin: 0;
    padding: 64px;
    background-color: #f7f5f2;
    color: #184C78;
}
