html {
    font-family: Karla, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
   
}

body {
    margin: 0;
    padding: 64px;
    background-color: #f7f5f2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

h1 {
    color: #184C78;
    font-size: 2 em;
    font-weight: 700;
    margin: 1em 0;
    text-align: center;
}
.section01,.section02,.section03{

    margin: 0;
    padding: 25px;
    text-align: center;
}




