
:root{
    --background_color_one: #FFF;
    --background_color_two: #f8f1e5;
    --background_color_three: #dbcabd;
    --background_color_four: #6E2806;


    --nav_color:#fa8f03;
    --hightlight_color:#e98502;
    --text_color_one:#372F2F;
    --text_color_two:#6E2806;
    --text_color_three:#b56b46;
   
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
   

}

boby{
    margin: 0;
    background-color: var(--background_color_one);
    font-family:  'roboto',Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: var(---hightlight_color);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

.wrapper{
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background_color_two);
    min-height: 160px;
   
   

}

/*top header*/

.top_header{
    background-color: var(--background_color_three);
    min-height: 50px;
    font-family:  'roboto';
}

.inner{
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.language{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    line-height:50px;
}

.language a{
    font-weight: 400;
    margin-left: 30px;
    color: var(--text_color_one);
}

.popular_destinations{
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    line-height:50px;
}

.popular_destinations a{
    font-weight: 400;
    margin-left: 30px;
    color: var(--hightlight_color);
}

.popular_destinations div{
    color: var(--text_color_one);
}


    /*main header*/
.main_header{
    height:100px;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    position: absolute;
    width: 165px;
    height: 160px;
    margin-top: -30px; 
}

.page_menu a{
    color:var(--text_color_one);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
 
    font-family: 'roboto';
}

.page_menu a:active,.page_menu a:hover{
    background-color: var(--nav_color);
    color: var(--background_color_one);
    box-shadow: 0px 15px 40px  rgba(0,0,0,0.2);
    border-radius: 5px;

    
}
.account{
    margin-right: -200px;
}

.account img{
    width: 13px;
    height: 15px; 
   
}

.cart img{
    width: 15px;
    height: 15px;
}

.account span, .cart span{
    color:var(--text_color_one);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'roboto';
    padding-left: 5px;
}

.banner img{
    width: 100%;
    height: 500px;
}

/* main*/
.sodoi_coffee{
    min-height: 500px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background_color_two);
   
}
.inner_sodoi{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);
}

.inner_sodoi img{
    width: 68px;
    height: 65px;
    padding: 0px 17px 0px 20px;
}

.inner_sodoi h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
   
}

.inner_intro{
    width: 100%;
    max-width:1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0p x;
}

.inner_intro img{
    width: 250px;
    height: 280px;
    border-radius:12px;

}



.intro_context p{
    padding-left: 15px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 23.2px;
    
}

#text_higntlight{
    color: var(--hightlight_color);
    font-weight: 400;
    font-size: 18px;

}

/*our_coffee*/

.our_coffee{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    min-height: 700px;
    background-color: var(--background_color_three);

}

.inner_ourcoffee{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);

}

.world_inyoucup{
    margin: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}

.inner_ourcoffee h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
   
}

.inner_worldcoffee{
    max-width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:15px ;
    padding-bottom: 40px;

}

.inner_worldcoffee > div{
    margin: 10px 4px 10px 4px;
    background-color: var(--background_color_two);
    border-radius: 12px;

}
.inner_worldcoffee img{
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 12px;
}

.inner_worldcoffee > div:nth-child(even){
    box-shadow: 0px 20px 40px  rgba(0,0,0,0.2);
}

.inner_worldcoffee > div:nth-child(even) img{
    box-shadow: 0px 30px 60px  rgba(0,0,0,0.2);
}

.inner_worldcoffee h1{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: var(--text_color_three);
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'roboto';
}


.inner_worldcoffee p{
    color: var(--text_color_one);
    font-family: 'roboto';
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
}

.inner_worldcoffee a{
  color: var(--hightlight_color);
  font-weight: 400;
  font-family: 'roboto';
  
}


/* sodoi award*/

.sodoi_award{
    min-height: 540px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background_color_two);
   
}
.inner_award{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);
}

.inner_award img{
    width: 68px;
    height: 62px;
    padding: 0px 17px 0px 20px;
}

.inner_award h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
   
}

.inner_name {
    width: 100%;
    max-height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0p x;

}
.inner_name h2{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: var(--text_color_three);
    font-family: 'roboto';
   
}

.inner_awardintro{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0p x;
}

.inner_awardintro img{
    width: 450px;
    height: 262px;
    border-radius:12px;

}


/*footer*/
.footer_inner{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: var(--background_color_four);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
footer{
   height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background_color_four);
    padding-top: 35px;
    padding-bottom: 35px;
   
}

.footer_nav{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 20px;
    text-decoration: none;
    color: var(--background_color_one);
    font-family: 'roboto';
    line-height: 30px;
}
.footer_nav ul{
    padding-right: 100px;
}

.footer_social{
    display: flex;
    flex-direction: column;
}

.social_medialogo{
    display: flex;
    justify-content: center;
    
    padding-bottom: 10px;
}
.social_medialogo img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
    filter: invert(85%);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: var(--background_color_one);
    font-size: 13px;
    font-weight: 400;
    font-family: 'roboto';
    margin: 0 10px 0 10px;
}