
:root{
    --background_color_one: #FFF;
    --background_color_two: #fbf5ea;
    --background_color_three: #dbcabd;
    --background_color_four: #6E2806;
    --background_color_five: #fcf7ef;


    --nav_color:#fa8f03;
    --hightlight_color:#e98502;
    --text_color_one:#372F2F;
    --text_color_two:#6E2806;
    --text_color_three:#b56b46;
   
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
   

}

boby{
    margin: 0;
    background-color: var(--background_color_one);
    font-family:  'roboto',Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: var(---hightlight_color);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

.wrapper{
    width:100%;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_two);
    min-height: 16rem;
   
   

}

/*top header*/

.top_header{
    background-color: var(--background_color_three);
    min-height: 3.125rem;
    font-family:  'roboto';
}

.inner{
    width:100%;
    max-width: 73.125rem;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.language{
    display: flex;
    justify-content: flex-start;
    font-size:0.8125rem;
    line-height:3.125rem;
}

.language a{
    font-weight: 400;
    margin-left: 1.875rem;
    color: var(--text_color_one);
}

.popular_shop{
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8125rem;
    line-height:3.125rem;
}

.popular_shop a{
    font-weight: 400;
    margin-left: 1.875rem;
    color: var(--hightlight_color);
}

.popular_shop div{
    color: var(--text_color_one);
}


    /*main header*/
.main_header{
    height:6.25rem;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    position: absolute;
    width: 10.3125rem;
    height: 10rem;
    margin-top: -1.875rem; 
}

.page_menu a{
    color:var(--text_color_one);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.625rem;
    margin: 1.25rem;
 
    font-family: 'roboto';
}

.page_menu a:active,.page_menu a:hover{
    background-color: var(--nav_color);
    color: var(--background_color_one);
    box-shadow: 0px 15px 40px  rgba(0,0,0,0.2);
    border-radius: 5px;

    
}
.account{
    margin-right: -12rem;
}

.account img{
    width: 0.8125rem;
    height: 0.9375rem; 
   
}

.cart img{
    width: 0.9375rem;
    height: 0.9375rem;
}

.account a, .cart a{
    color:var(--text_color_one);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'roboto';
    padding-left: 0.3125rem;
}

.banner img{
    width: 100%;
    height: 31.25rem;
}

/* main*/
.sodoi_coffee{
    min-height: 31.25rem;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_two);
   
}
.inner_sodoi{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);
}

.inner_sodoi img{
    width: 4.25rem;
    height: 4.0625rem;
    padding: 0px 17px 0px 20px;
}

.inner_sodoi h1{
    font-size: 2.625rem;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
   
}

.inner_intro{
    width: 100%;
    max-width:62.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_intro img{
    width: 15.625rem;
    height: 17.5rem;
    border-radius:0.75rem;

}



.intro_context p{
    padding-left: 0.9375rem;
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 0.8125rem;
    line-height: 23.2px;
    
}

#text_higntlight{
    color: var(--hightlight_color);
    font-weight: 400;
    font-size: 1.125rem;

}

/*our_coffee*/

.our_coffee{
    width: 100%;
    height: 100%;
    max-width: 90rem;
    min-height: 43.75rem;
    background-color: var(--background_color_three);

}

.inner_ourcoffee{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    padding-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);

}

.world_inyoucup{
    margin: 0.75rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}

.inner_ourcoffee h1{
    font-size: 2.625rem;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
   
}

.inner_worldcoffee{
    max-width: 65rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:0.9375rem;
    padding-bottom: 2.5rem;

}

.inner_worldcoffee > div{
    margin: 10px 4px 10px 4px;
    background-color: var(--background_color_five);
    border-radius: 0.75rem;

}
.inner_worldcoffee img{
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 12px;
}

.inner_worldcoffee > div:nth-child(even){
    box-shadow: 0px 20px 40px  rgba(0,0,0,0.2);
}

.inner_worldcoffee > div:nth-child(even) img{
    box-shadow: 0px 30px 60px  rgba(0,0,0,0.2);
}

.inner_worldcoffee h1{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: var(--text_color_three);
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'roboto';
}


.inner_worldcoffee p{
    color: var(--text_color_one);
    font-family: 'roboto';
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
}

.inner_worldcoffee a{
  color: var(--hightlight_color);
  font-weight: 400;
  font-family: 'roboto';
  
}


/* sodoi award*/

.sodoi_award{
    min-height: 33.75rem;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_two);
   
}
.inner_award{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);
}

.inner_award img{
    width: 4.25rem;
    height: 3.875rem;
    padding: 0px 17px 0px 20px;
}

.inner_award h1{
    font-size: 2.625rem;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
   
}

.inner_name {
    width: 100%;
    max-height: 1.875rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0p x;

}
.inner_name h2{
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    color: var(--text_color_three);
    font-family: 'roboto';
   
}

.inner_awardintro{
    width: 100%;
    max-width: 62.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0p x;
}

.inner_awardintro img{
    width: 28.125rem;
    height: 16.375rem;
    border-radius:12px;

}


/*footer*/
.footer_inner{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    background-color: var(--background_color_four);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
footer{
   height: 100%;
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--background_color_four);
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
   
}

.footer_nav{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 20px;
    text-decoration: none;
    color: var(--background_color_one);
    font-family: 'roboto';
    line-height: 30px;
}
.footer_nav ul{
    padding-right: 6.25rem;
}

.footer_social{
    display: flex;
    flex-direction: column;
}

.social_medialogo{
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;
}
.social_medialogo img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
    filter: invert(90%);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: var(--background_color_one);
    font-size: 13px;
    font-weight: 400;
    font-family: 'roboto';
    margin: 0 10px 0 10px;
}


/*store*/

.inner_menutitle{
    width: 100%;
    max-width: 1170px73.125rem;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    text-shadow:0px 15px 40px  var(--text_color_two)(0,0,0,0.3);
}

.inner_menutitle h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: var(--text_color_two);
}

.inner_menu{
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'roboto';
    font-weight: 400;
    
}
.inner_menu img{
    width: 235px;
    height: 235px;
    padding: 0px 17px 0px 20px;
}

.inner_menu div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px 40px 10px;
}

.inner_menu h2{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: var(--hightlight_color);
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'roboto';
    padding: 10px 0 0px 0;

}

.inner_menu span{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: var(--text_color_three); 
    font-family: 'roboto';

}

.inner_menu p{
    color: var(--text_color_one);
    font-family: 'roboto';
    font-weight: 400;
}

.inner_menu button{
    display: block;
    border-radius: 20px;
    width:120px;
    height: 40px;
    background: linear-gradient(70deg, rgb(251, 126, 24), rgb(250, 179, 1));
    border: none;
    color: var(--background_color_two);
    font-size: 15px;
    font-weight: 600;  
   
}

button:hover {
    box-shadow: 0 3px #8f8e8e;
    transform: translateY(1px);
  }
  

  /* meida query for smaller screens*/

  @media only screen and (max-width: 768px) {
    
    .inner {
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        padding: 0 20px; 
    }

    .account {
        margin-right: 0; 
    }

    .logo img {
        width: 125px; 
        height: auto;
        margin-top: 45px;
        margin-left: -225px;
    }

    .inner_worldcoffee{
        max-width: 200px;
        margin: 0 auto;
        
    
    }

    .inner_worldcoffee img{
        display: block;
        margin: 10px 8px 0 8px;
      
    }



}
